* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

#app {
	height: 100%;
}

.block {
	height: 100%;
}

.block__coll {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 75vw;
	margin: auto;
}

.block__element_navbar {
	height: 20%;
	background-image: url("/img/bg3.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.block__element_main {
	flex: 1 1 auto;
}

.block__row {
	width: 100%;
	display: inline-flex;
}
hr{
	height:2px;
	border-width:0;
	color:gray;
	background-color:gray
}
.block__element_form, .block__element_table {
	flex-basis: 50%;
	width: 90%;
	margin: 5%;
	border: 2px solid gray;
	border-radius: 5px;
	font-size: 24px;
}

/* .block__element_form {
	flex-basis: 50%;
}

.block__element_table {
	
} */

table, form {
	width: 90%;
	margin: 1%;
	table-layout: fixed;
	/* border: 2px solid gray; */
	font-size: 22px;
}
th{
	background-color: burlywood;
	font-size: 20px;

}
tr:hover {
	background-color: #D6EEEE;
}
