@import url('./clear-style.css');

body {
	height: 100%;
	font-size: medium;
	font-family: Helvetica;
	background-image: url("/img/main_bg.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.content {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 85%;
	margin: 0 auto;
	
}
.content__navbar,
.content__main,
.content__footer {
	background-color: Silver;
	box-shadow: 6px 6px 6px 0px darkgray;
}

.content__navbar {
	min-height: 100px;
	margin: 0 1%;
	border-radius: 0 0 5px 5px;
}

.content__main {
	margin: 1%;
	border-radius: 5px;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.content__footer {
	min-height: 75px;
	margin: 0 1%;
	padding-top: 1%;
	border-radius: 5px 5px 0 0;
	text-align: center;
}

.row {
	display: flex;
	padding: 1%;

	
}

.row__element {
	padding: 1%;
	align-self: center;
	flex: 1 1 auto;
	flex-wrap: wrap;
	display: flex;

}


.table-row {
	display: flex;
}
.table-name, .column-name {
	display: flex;

	width: 16ch;
	padding: 0.3em;
	margin: 0.1em;
	border: 0.07em solid DimGray;
	border-radius: 0.3em;
	vertical-align: baseline;
	position: relative;

}
.table-name{
	font-weight: bold;
	text-transform: uppercase;

}
.cell{
	display: flex;
	align-items: center;
	
}
.column-name .tooltip {
	visibility: hidden;
	width: 10ch;
	background-color: rgba(169, 169, 169, 0.747);
	width: 120px;
	background-color: rgba(169, 169, 169, 0.278);
	text-align: center;
	border: 0.07em solid DimGray;
	border-radius: 0.3em;;
	padding: 0.3em 0;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: -1em;
	left: 70%;
  }
  
  .column-name:hover .tooltip {
	visibility: visible;
	
  }
  .column-name {
	cursor: pointer;
  }

hr {
	height: 2px;
	border-width: 0;
	color: gray;
	background-color: gray;
}

.centered {
	text-align: center;
}

form{
	padding: 2%;
	min-width: 30em;
}
fieldset {
	border-radius: 5px;
	border: 2px solid DimGray;
	padding: 2%;
	font-size: 18px;
}

select {
	background-color: Gainsboro;
	overflow: hidden;
	border-radius: inherit;
	border: 2px solid DimGray;
}

option {
	padding: 5px;
	border-radius: inherit;
}

textarea {
	width: 100%;
	font-family: Courier, monospace;
	border-radius: 5px;
	border: 2px solid DimGray;
	padding: 1%;
	background-color: Gainsboro;
}

button {
	width: 30%;
	height: 10%;
	margin-top: 2%;
	padding: 2%;
	float: right;
	border: 2px solid DimGray;
	border-radius: 5px;
	background-color: darkgray;
}

button:hover {
	background-color: gray;
}
.simple-sql-btn{
	width: auto;
	margin-top: 1%;
	margin-left: 1%;
	padding: 1%;
	border: 1px solid DimGray;
	border-radius: 5px;
	background-color: darkgray;
}
table {
	padding: 0.7rem;
	border-radius: 0.3rem;
	margin: 0 2% 0;
	table-layout: fixed;
	border: 2px solid DimGray;
}
th {
	background-color: gray;
}
table thead tr {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	padding-right: 2%;
}

table thead tr th:nth-child(1){
	border-radius: 0.2rem 0 0 0;
}

table thead tr th:nth-last-child(1){
	border-radius: 0 0.2rem 0 0;
	margin-right: 20px;
}

table thead{
	display: table;
	padding-right: 2%;
	border-collapse: collapse;
}
table tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}


table tbody {
	display: block;
	max-height: 300px;
	overflow-y: auto;
}

th,
td {
	padding: 0.4rem;
	word-wrap:break-word;
	text-align: left;
}

tr:nth-child(odd) {
	background-color: Gainsboro;
}

tr:hover {
	background-color: darkgray;
}
