* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

#app {
	height: 100%;
	font-size: 20px;
	
}

.block {
	height: 100%;
}
.block__content{
	font-size: 18px;
	margin-bottom: 1%;
}

.block__coll {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 75vw;
	margin: auto;
	background-image: url("/img/pexels-clarissa-schwarz-8941370.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	
}

.block__element_navbar {
	min-height: 10%;
	/* background-image: linear-gradient(to bottom right, rgb(118, 118, 118), rgb(215, 215, 215)); */
	background-image: url("/img/pexels-clarissa-schwarz-8941370.jpg");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;	
	box-shadow: 0px 6px 6px 0px rgba(141, 143, 143, 0.74);
	background-blend-mode: soft-light;
	
}

.block__element_main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	
}

.block__row {
	width: 100%;
	min-height: 80%;
	display: inline-flex;
}

hr {
	height: 2px;
	border-width: 0;
	color: gray;
	background-color: gray;
}
#info{
	flex: auto;
	min-height: 35%;
	
}
#sql {
	min-height: 45%;
}
#sql-btn{
	align-self: end;
	height: 5vh;
	margin: 1vh 0 1vh;
	padding: 1vh;
	border: 2px solid gray;
	border-radius: 5px;
	font-size: inherit

}
#sql-btn:hover{
	box-shadow: 6px 6px 6px 0px rgba(141, 143, 143, 0.74);

}
.block__element_external {
	flex-basis: 50%;
	width: 96%;
	margin: 2%;
	font-size: 24px;
	background-color: rgb(215, 215, 215);
	border-radius: 5px;
	box-shadow: 6px 6px 6px 0px rgba(141, 143, 143, 0.74);
	
}
h2 {
	text-align: center;
	margin: 8px;
}
.block__element_form,
.block__element_table {
	border: 2px solid gray;
	border-radius: 5px;
	font-size: 24px;
	margin: 2%;
}
table{
	width: 96%;
	margin: 2%;
	font-size: 18px;
	border-radius: 5px;
}
form {
	display: flex;
	flex-direction: column;
	width: 96%;
	margin: 2%;
	font-size: 18px;
	border-radius: 5px;
}
option{
	font-size: 18px;
	padding: 5px;
}
textarea{
	font-family: 'Courier New', Courier, monospace;
	font-size: inherit;
	width: 100%;
	border-radius: 5px;
	padding: 1%;

}
th {
	background-color: rgb(191, 191, 191);
	font-size: 20px;
	padding: 1%; 
	border-radius: 3px;
}
td{
	padding: 3px;
}
tr:hover {
	background-color: #d6eeee;

}
